HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Web Backend ###
JwtTemplate.java
application-env.properties
logback-spring.xml
.env
data

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### React ###
# dependencies
/src/main/frontend/node_modules
/src/main/frontend/.pnp
/src/main/frontend/.pnp.js

# testing
/src/main/frontend/coverage

# production
/src/main/frontend/build

# misc
/src/main/frontend/.DS_Store
/src/main/frontend/.env
/src/main/frontend/.env.local
/src/main/frontend/.env.development.local
/src/main/frontend/.env.test.local
/src/main/frontend/.env.production.local

/src/main/frontend/npm-debug.log*
/src/main/frontend/yarn-debug.log*
/src/main/frontend/yarn-error.log*