footer {
  position: fixed;
  background-color: #F6EFE8;
  color: #fff;
  bottom: 0;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li {
  flex: 1;
  text-align: center;
}

nav a {
  color: #000000;
  display: block;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
}
.icon {
  font-size: 24px;
}

.text {
  font-size: 12px;
}

.active a {
  color: rgb(255, 153, 0);
}

.active i {
  color: rgb(255, 153, 0);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
