body {
  margin: 0;
  font-family: 'NotoSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --btn-green: rgb(0, 171, 85);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pointer {
  cursor: pointer;
}

.scroll-hidden {
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes blink-effect {
  50% {
    opacity: 0.5;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}
