@font-face {
  font-family: 'Dongle';
  src: url('./AnyConv.com__Dongle-Regular.woff');
}

@font-face {
  font-family: 'SingleDay';
  src: url('./SingleDay-Regular.ttf');
}

@font-face {
  font-family: 'NotoSans';
  src: url('./AnyConv.com__NotoSansKR-Medium.woff');
}

@font-face {
  font-family: 'Cutefont';
  src: url('./CuteFont-Regular.ttf');
}

@font-face {
  font-family: 'Nanum';
  src: url('./NanumGothicCoding-Regular.ttf');
}
